  <div class="row heading">
    <div class="column"><h1>Use Your Words</h1></div>
  </div>
  <div class="row">
    <div class="one-half column">
      <p>
        Check your twitter report
      </p>
      <form action="/user" method="get">
        <input type="text" name="username" placeholder="Username">
      </form>
    </div>
    <div class="one-half column"></div>
  </div>
