<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Use Your Words</title>
  <link rel="stylesheet" href="/css/normalize.css" class="css">
  <link rel="stylesheet" href="/css/skeleton.css" class="css">
  <link rel="stylesheet" href="/css/style.css" class="css">

</head>
<body>
  <div class="container">
<%= yield %>
  </div>
</body>
</html>
